{% extends "dashboard/base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2 class="text-2xl font-semibold mb-4">Panel de control</h2>

{% if selected_room %}
  {% include 'dashboard/partials/room_header.html' %}

  {% if selected_room.id != selected_course.teachers_room.id %}
    {% if not selected_course.general_room or selected_room.id != selected_course.general_room.id %}
      {% include 'dashboard/partials/questions_panel.html' %}
    {% endif %}
  {% endif %}

  {% if selected_room.id != selected_course.teachers_room.id %}
    {% include 'dashboard/partials/students_panel.html' %}
  {% endif %}
  
{% else %}
  <div class="bg-white shadow rounded-lg p-4">
    <p class="text-gray-600 italic">Seleccione una sala del menú para ver los datos correspondientes.</p>
  </div>
{% endif %}
{% endblock %}
