HOMESERVER = "https://matrix.example.org"
SERVER_NAME = "example.org"
USERNAME = "@bot:example.org"
PASSWORD = "secret_password"
COMMAND_PREFIX = "!"

MATRIX_ADMIN_TOKEN = "TU_ADMIN_TOKEN"      # Token de admin Synapse (para crear usuarios en el script de setup.py)
DJANGO_SECRET_KEY = "TU_SECRET_KEY"        # Generar con "python3 -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'"

DB_TYPE = "postgres"  # Solo soporta "postgres" pero es útil para potenciales expansiones
                      # Para añaidir más tipos de BD, añadir a DB_MODULES en core/db/constants.py
                      # y replicar los archivos de la carpeta postgres con el nuevo tipo
                      # El script de setup.py y el engine de bot_db en web_dashboard/settings.py hay que cambiarlas por separado
                      
DB_USER = "tu_usuario"
DB_PASSWORD = "tu_password"
DB_NAME = "matrix_bot"
DB_HOST = "localhost"
DB_PORT = 5432

MOODLE_URL = "https://moodle.example.com"
MOODLE_TOKEN = "TU_TOKEN_MOODLE"